$nhsuk-fonts-path: "../fonts/";
$nhsuk-page-width: 1280px;
$nhsuk-grid-widths: (
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  two-thirds: 66.6666%,
  three-quarters: 75%,
  full: 100%,
  filters: 20%,
  data: 80%
);

@import "nhsuk-frontend/packages/nhsuk.scss";

@import "grid";

@import "components/app_control";
@import "components/app_card";
@import "components/secondary_navigation";
@import "components/data_table";
