{% extends 'layouts/base.jinja' %}

{% block pageTitle %}Mavis reporting{% endblock %}

{% block page_content %}

<h1>Mavis reporting</h1>
<p>SAIS provider vaccination uptake statistics.</p>


<h3>Api call returned:</h3>

<dl>
    <dt>Text</dd>
    <dd>{{ response.text }}</dd>
    {% for key in data %}
    <dt>{{ key }}</dt>
    <dd>{{ data.get(key) }}</dd>
    {% endfor %}
</dl>

{% endblock %}
