
{% from 'header/macro.jinja' import header %}
{% extends 'template.jinja' %}

{% block head %}
<link rel="stylesheet" href="{{ static('css/app.css') }}">
<script type="module" src="{{ static('js/app.js') }}"></script>
{% endblock %}

{% block header %}
{{ header({
  "service": {
    "name": "Manage vaccinations in schools"
  },
  "showNav": "true",
  "primaryLinks": [
      {
        "url": config["MAVIS_ROOT_URL"],
        "label": "Home",
      },
      {
        "url": config["MAVIS_ROOT_URL"] + 'dashboard',
        "label": "Dashboard",
      },
      {
        "url": "/",
        "label": "Reporting",
      },
      {
        "url": "/api-call",
        "label": "Test API call"
      }
    ]
}) }}
{% endblock %}

{% block content %}

{% block page_content %}
{% endblock %}

{% block session %}
  <h3>session</h3>
  <dl>
  {% for key in session %}
    <dt>{{ key }}</dt>
      <dd>{{ session.get(key) }}</dd>
  {% endfor %}
  </dl>
{% endblock %}

{% endblock %}
