{% from "components/heading.jinja" import heading %}
{% from "components/secondary_navigation.jinja" import secondaryNavigation %}

{% extends 'base.jinja' %}

{% block page_content %}

{{ heading({
  "text": title,
  "level": 1,
  "size": "xl",
  "caption": org_type_title,
}) }}

{{ secondaryNavigation({
  "items": secondary_navigation_items
}) }}

{% block dashboard_content %}

{% endblock %}

{% endblock %}
