{% extends 'layouts/base.jinja' %}

{% block pageTitle %}Mavis reporting{% endblock %}

{% block page_content %}

<h1>Mavis reporting</h1>
<p>SAIS provider vaccination uptake statistics.</p>


<h3>Default page</h3>


{% endblock %}
