{% from "components/table.jinja" import table %}
{% from "card/macro.jinja" import card %}
{% from "components/filters.jinja" import filters %}

{% extends 'layouts/dashboard.jinja' %}

{% block pageTitle %}{{ title }} | {{ site_title }}{% endblock %}

{% block dashboard_content %}

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    {{ filters({
      "programmes": programmes,
      "year_groups": year_groups,
      "genders": genders
    }) }}
  </div>

  {% set rows = [] %}
  {% for child in children %}
    {% set _ = rows.append([
      { "text": child.name, "href": child.url() },
      { "text": child.measure_value('schools_completed') ~ " of " ~ child.measure_value('schools') | thousands, "format": "numeric", "classes": "nhsuk-table__section-start" },
      { "text": child.measure_value('eligible_cohort') | thousands, "format": "numeric" },
      { "text": child.measure_value('consent_offered') | thousands, "format": "numeric", "classes": "nhsuk-table__section-start" },
      { "text": child.measure_value('consent_given') | thousands, "format": "numeric" },
      { "text": child.measure_value('consent_refused') | thousands, "format": "numeric" },
      { "text": child.measure_value('vaccinated') | thousands, "format": "numeric", "classes": "nhsuk-table__section-start" },
      { "text": child.measure_value('uptake') | percentage, "format": "numeric", "classes": "nhsuk-table__cell--bold" }
    ]) %}
  {% endfor %}

  <div class="app-grid-column-content">
    {{ table({
      "heading": child_type_title_plural,
      "tableClasses": "nhsuk-table--data",
      "panel": true,
      "head": [
        { "text": child_type_title_singular },
        { "text": "Sessions done", "format": "numeric", "classes": "nhsuk-table__section-start"},
        { "text": "Eligible cohort", "format": "numeric" },
        { "text": "Consent requested", "format": "numeric", "classes": "nhsuk-table__section-start" },
        { "text": "Consent given", "format": "numeric" },
        { "text": "Consent refused", "format": "numeric" },
        { "text": "Vaccinated", "format": "numeric", "classes": "nhsuk-table__section-start" },
        { "text": "Uptake", "format": "numeric" }
      ],
      "rows": rows
    }) }}
  </div>
</div>

{% endblock %}
