{% from "tables/macro.jinja" import table %}
{% from "card/macro.jinja" import card %}
{% from "breadcrumb/macro.jinja" import breadcrumb %}
{% from "components/filters.jinja" import filters %}

{% extends 'layouts/dashboard.jinja' %}

{% block pageTitle %}{{ organisation.name }} | Manage vaccinations in schools{% endblock %}

{% block dashboard_content %}

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    {{ filters({
      "programmes": programmes,
      "year_groups": year_groups,
      "genders": genders
    }) }}
  </div>

  <div class="app-grid-column-content">
    <h2 class="nhsuk-heading-m">
      Vaccinations
    </h2>

    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Eligible cohort",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('eligible_cohort') | thousands
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Vaccinated",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('vaccinated') | thousands
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card app-card--reversed",
          "heading": "Uptake",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('uptake') | percentage
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Outstanding",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('outstanding') | thousands
        }) }}
      </div>
    </div>

    <h2 class="nhsuk-heading-m">
      Consent
    </h2>

    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Offered",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('consent_offered') | thousands
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Consented",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('consent_given') | thousands
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Refused",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('consent_refused') | thousands
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "No response",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('no_response') | thousands
        }) }}
      </div>
    </div>

    {{ table({
      "heading": "Reasons consent refused",
      "panel": true,
      "head": [
        { "text": "Reason" },
        { "text": "Percentage", "format": "numeric" }
      ],
      "rows": [
        [{ "text": "Vaccine contains gelatine" }, { "text": "0.1%", "format": "numeric" }],
        [{ "text": "Already vaccinated" }, { "text": "0.2%", "format": "numeric" }],
        [{ "text": "Vaccine will be given elsewhere" }, { "text": "0.3%", "format": "numeric" }],
        [{ "text": "Medical reasons" }, { "text": "0.4%", "format": "numeric" }],
        [{ "text": "Personal choice" }, { "text": "0.5%", "format": "numeric" }],
        [{ "text": "Other" }, { "text": "0.6%", "format": "numeric" }]
      ]
    }) }}

    {{ table({
      "heading": "Reasons vaccination not given",
      "panel": true,
      "head": [
        { "text": "Reason" },
        { "text": "Percentage", "format": "numeric" }
      ],
      "rows": [
        [{ "text": "Child refused vaccination" }, { "text": "0.1%", "format": "numeric" }],
        [{ "text": "Child was unwell" }, { "text": "0.2%", "format": "numeric" }],
        [{ "text": "Had contraindications" }, { "text": "0.3%", "format": "numeric" }],
        [{ "text": "Already had the vaccine" }, { "text": "0.4%", "format": "numeric" }],
        [{ "text": "Absent from school" }, { "text": "0.5%", "format": "numeric" }]
      ]
    }) }}
  </div>
</div>

{% endblock %}
