{% from "tables/macro.jinja" import table %}
{% from "card/macro.jinja" import card %}
{% from "breadcrumb/macro.jinja" import breadcrumb %}
{% from "components/filters.jinja" import filters %}

{% extends 'layouts/dashboard.jinja' %}

{% block pageTitle %}{{ organisation.name }} | Manage vaccinations in schools{% endblock %}

{% block dashboard_content %}

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    {{ filters({
      "programmes": programmes,
      "year_groups": year_groups,
      "genders": genders
    }) }}
  </div>

  <div class="app-grid-column-content">
    {% if organisation.type != "school" %}
    <h2 class="nhsuk-heading-m">
      School progress
    </h2> 

    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Schools with scheduled sessions",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "HTML": "<p class='nhsuk-card__description'>" ~ organisation.measure_value('schools_scheduled') | thousands  ~ " <span class='nhsuk-card__caption'>out of " ~ organisation.measure_value('schools') | thousands ~ "</span></p>",
          "attributes": {
            "data-definition": "Number of schools with scheduled session dates"
          }
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Schools with consent sent",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "HTML": "<p class='nhsuk-card__description'>" ~ organisation.measure_value('schools_notified') | thousands  ~ " <span class='nhsuk-card__caption'>out of " ~ organisation.measure_value('schools') | thousands ~ "</span></p>",
          "attributes": {
            "data-definition": "Number of schools where consent requests have been sent out to parents"
          }
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Schools with completed sessions",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "HTML": "<p class='nhsuk-card__description'>" ~ organisation.measure_value('schools_completed') | thousands  ~ " <span class='nhsuk-card__caption'>out of " ~ organisation.measure_value('schools') | thousands ~ "</span></p>",
          "attributes": {
            "data-definition": "Number of schools where at least one vaccination session has been completed"
          }
        }) }}
      </div>
    </div>
    {% endif %}

    <h2 class="nhsuk-heading-m">
      Vaccinations
    </h2>

    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Eligible cohort",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('eligible_cohort') | thousands,
          "attributes": {
            "data-definition": "Number of children eligible for the vaccine in this programme year"
          }
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Vaccinated by SAIS",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('vaccinated') | thousands,
          "attributes": {
            "data-definition": "Number of children who have received the vaccine in this programme year"
          }
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Vaccinated elsewhere",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('vaccinated_elsewhere') | thousands,
          "attributes": {
            "data-definition": "Number of children who have received the vaccine elsewhere in this programme year, according to the parents or child"
          }
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card app-card--reversed",
          "heading": "Uptake",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "description": organisation.measure_value('uptake') | percentage,
          "attributes": {
            "data-definition": "Percentage of the eligible cohort who have received the vaccine in this programme year"
          }
        }) }}
      </div>
    </div>

    <h2 class="nhsuk-heading-m">
      Consent
    </h2>

    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Consent requested",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "HTML": "<p class='nhsuk-card__description'>"
             ~ organisation.measure_value('consent_offered_percentage') | percentage
             ~ " <span class='nhsuk-card__caption'>" ~ organisation.measure_value('consent_offered') | thousands ~ " children"
            ~ "</span></p>",
          "attributes": {
            "data-definition": "Percentage of children whose parents have been asked for consent to vaccinate"
          }
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Consent given",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "HTML": "<p class='nhsuk-card__description'>"
             ~ organisation.measure_value('consent_given_percentage') | percentage
             ~ " <span class='nhsuk-card__caption'>" ~ organisation.measure_value('consent_given') | thousands ~ " children"
            ~ "</span></p>",
          "attributes": {
            "data-definition": "Percentage of children for whom consent has been given"
          }
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Consent refused",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "HTML": "<p class='nhsuk-card__description'>"
             ~ organisation.measure_value('consent_refused_percentage') | percentage
             ~ " <span class='nhsuk-card__caption'>" ~ organisation.measure_value('consent_refused') | thousands ~ " children"
            ~ "</span></p>",
          "attributes": {
            "data-definition": "Percentage of children for whom consent has been refused"
          }
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "No response",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "HTML": "<p class='nhsuk-card__description'>"
             ~ organisation.measure_value('no_response_percentage') | percentage
             ~ " <span class='nhsuk-card__caption'>" ~ organisation.measure_value('no_response') | thousands ~ " children"
            ~ "</span></p>",
          "attributes": {
            "data-definition": "Percentage of children for whom no response has been received to the consent request"
          }
        }) }}
      </div>
    </div>

    {{ table({
      "heading": "Reasons consent refused",
      "panel": true,
      "head": [
        { "text": "Reason" },
        { "text": "Percentage", "format": "numeric" }
      ],
      "rows": [
        [{ "text": "Vaccine contains gelatine" }, { "text": "0.1%", "format": "numeric" }],
        [{ "text": "Already vaccinated" }, { "text": "0.2%", "format": "numeric" }],
        [{ "text": "Vaccine will be given elsewhere" }, { "text": "0.3%", "format": "numeric" }],
        [{ "text": "Medical reasons" }, { "text": "0.4%", "format": "numeric" }],
        [{ "text": "Personal choice" }, { "text": "0.5%", "format": "numeric" }],
        [{ "text": "Other" }, { "text": "0.6%", "format": "numeric" }]
      ]
    }) }}

    {{ table({
      "heading": "Reasons vaccination not given",
      "panel": true,
      "head": [
        { "text": "Reason" },
        { "text": "Percentage", "format": "numeric" }
      ],
      "rows": [
        [{ "text": "Child refused vaccination" }, { "text": "0.1%", "format": "numeric" }],
        [{ "text": "Child was unwell" }, { "text": "0.2%", "format": "numeric" }],
        [{ "text": "Had contraindications" }, { "text": "0.3%", "format": "numeric" }],
        [{ "text": "Already had the vaccine" }, { "text": "0.4%", "format": "numeric" }],
        [{ "text": "Absent from school" }, { "text": "0.5%", "format": "numeric" }]
      ]
    }) }}
  </div>
</div>

{% endblock %}
