{% from "components/table.jinja" import table %}
{% from "card/macro.jinja" import card %}
{% from "components/filters.jinja" import filters %}

{% extends 'dashboard.jinja' %}

{% block pageTitle %}{{ region.name }} providers | Manage vaccinations in schools{% endblock %}

{% block dashboard_content %}

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    {{ filters({
      "programmes": programmes,
      "year_groups": year_groups,
      "genders": genders
    }) }}
  </div>

  {% set rows = [] %}
  {% for provider in providers %}
    {% set _ = rows.append([
      { "text": provider.name, "href": url_for("main.provider", provider_code=provider.code) },
      { "text": provider.measure_value('sessions_completed') | thousands, "format": "numeric", "classes": "nhsuk-table__section-start" },
      { "text": provider.measure_value('eligible_cohort') | thousands, "format": "numeric" },
      { "text": provider.measure_value('consent_given') | thousands, "format": "numeric", "classes": "nhsuk-table__section-start" },
      { "text": provider.measure_value('consent_refused') | thousands, "format": "numeric" },
      { "text": provider.measure_value('vaccinated') | thousands, "format": "numeric", "classes": "nhsuk-table__section-start" },
      { "text": provider.measure_value('uptake') | percentage, "format": "numeric", "classes": "nhsuk-table__cell--bold" }
    ]) %}
  {% endfor %}

  <div class="app-grid-column-content">
    {{ table({
      "heading": "Providers",
      "tableClasses": "nhsuk-table--data",
      "panel": true,
      "head": [
        { "text": "Provider" },
        { "text": "Dates done", "format": "numeric", "classes": "nhsuk-table__section-start"},
        { "text": "Eligible cohort", "format": "numeric" },
        { "text": "Consent given", "format": "numeric", "classes": "nhsuk-table__section-start" },
        { "text": "Consent refused", "format": "numeric" },
        { "text": "Vaccinated", "format": "numeric", "classes": "nhsuk-table__section-start" },
        { "text": "Uptake", "format": "numeric" }
      ],
      "rows": rows
    }) }}
  </div>
</div>

{% endblock %}
