@use "sass:color";

.app-control {
  &-container {
    background-color: color.scale($color_nhsuk-grey-4, $alpha: -50%);
    margin-bottom: nhsuk-spacing(6);
    padding: nhsuk-spacing(2) nhsuk-spacing(4);

    &__legend {
      background-color: $color_nhsuk-grey-1;
      color: $color_nhsuk-white;
      margin-left: -(nhsuk-spacing(4));
      margin-bottom: nhsuk-spacing(3);
      margin-top: 0;
      padding: nhsuk-spacing(2) nhsuk-spacing(4);
      @include nhsuk-typography-responsive(24);
      @include nhsuk-typography-weight-bold;
    }
  }

  .nhsuk-radios__item,
  .nhsuk-checkboxes__item {
    margin-bottom: 0;
  }

  .nhsuk-fieldset__legend--s {
    font-weight: 600;
    margin-bottom: 8px;
  }

  .nhsuk-radios__label,
  .nhsuk-checkboxes__label {
    padding-left: 0;
    padding-top: 6px;
  }

  .nhsuk-radios__label::before,
  .nhsuk-checkboxes__label::before {
    border-width: 3px;
    transform: scale(.6667);
    transform-origin: center left;
  }

  .nhsuk-radios__label::after,
  .nhsuk-checkboxes__label::after {
    left: 3px;
    transform: scale(.6667);
  }

  .nhsuk-checkboxes__label::after {
    transform: rotate(-45deg) scale(.6667);
  }

  .nhsuk-select {
    min-width: 0;
  }

  &--full {
    width: 100%;
  }
}
