@use "sass:color";

.app-card {
  display: flex;

  &[data-definition]::before {
    background-color: $color_nhsuk-grey-1;
    border-radius: 4px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    color: $color_nhsuk-white;
    content: attr(data-definition);
    display: none;
    font-size: 16px;
    opacity: 0.92;
    padding: 12px;
    position: absolute;
    transform: translateY(-110%);
  }

  &[data-definition]:hover {
    border-color: $color_nhsuk-grey-3;

    &::before {
      display: block;
    }
  }

  .nhsuk-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: nhsuk-spacing(4);
  }

  .nhsuk-card__heading {
    @include nhsuk-typography-weight-normal;
    font-size: 18px;
  }

  .nhsuk-card__description {
    margin-top: auto;
    @include nhsuk-typography-responsive(36);
    @include nhsuk-typography-weight-bold;
  }

  &--reversed {
    background-color: $color_nhsuk-blue;
    border-color: nhsuk-shade($nhsuk-link-color, 25%);
    color: $color_nhsuk-white;

    &:active {
      border-color: nhsuk-shade($nhsuk-link-color, 50%);
    }

    .nhsuk-card__link {
      @include nhsuk-link-style-white;
    }
  }

  &-group {
    margin-left: -(nhsuk-spacing(2));
    margin-right: -(nhsuk-spacing(2));

    &__item {
      padding-left: nhsuk-spacing(2);
      padding-right: nhsuk-spacing(2);
    }
  }
}
