.nhsuk-table--data {

  th,
  td {
    font-size: 16px;
    padding: 9px;
  }

  th:first-of-type,
  td:first-of-type {
    padding-left: 0;
  }

  th:last-of-type,
  td:last-of-type {
    padding-right: 0;
  }

  .nhsuk-table__section-start {
    border-left: 1px solid $color_nhsuk-grey-4;
  }

  .nhsuk-table__cell--bold {
    font-weight: 700;
  }
}

.nhsuk-table__row:hover {
  background-color: transparent;
}
