.nhsuk-table--data {

  th,
  td {
    padding: 12px;
  }

  .nhsuk-table__section-start {
    border-left: 1px solid $color_nhsuk-grey-4;
  }

  .nhsuk-table__cell--bold {
    font-weight: 700;
  }
}
