{% from "components/heading.jinja" import heading %}
{% from "components/secondary_navigation.jinja" import secondaryNavigation %}
{% from "breadcrumb/macro.jinja" import breadcrumb %}

{% extends 'layouts/base.jinja' %}

{% block beforeContent %}
  {{ breadcrumb({
    "items": breadcrumb_items
  }) }}
{% endblock %}

{% block page_content %}

{{ heading({
  "text": organisation.name,
  "level": 1,
  "size": "xl",
  "caption": org_type_title,
}) }}

{{ secondaryNavigation({
  "items": secondary_navigation_items
}) }}

{% block dashboard_content %}

{% endblock %}

{% endblock %}
