{% from "radios/macro.jinja" import radios %}
{% from "select/macro.jinja" import select %}
{% from "checkboxes/macro.jinja" import checkboxes %}
{% from "input/macro.jinja" import input %}
{% from "fieldset/macro.jinja" import fieldset %}

{% macro filters(params) %}
<form>
  {% call fieldset({
    "legend": {
      "text": "Filter data",
      "classes": "nhsuk-heading-m app-control-container__legend",
      "isPageHeading": false
    },
    "classes": "nhsuk-card app-control-container"
  }) %}

    <div class="app-control">
      {{ radios({
        "idPrefix": "programme",
        "name": "programme",
        "fieldset": {
          "legend": {
            "text": "Vaccine programme",
            "classes": "nhsuk-fieldset__legend--s"
          }
        },
        "items": params.programmes
      }) }}
    </div>

    <div class="app-control">
      {{ input({
        "id": "date-from",
        "name": "date-from",
        "label": {
          "text": "Date from",
          "classes": "nhsuk-label--s"
        },
        "attributes": {
          "placeholder": "e.g. 01/09/2024"
        },
        "classes": "nhsuk-input--width-10"
      }) }}
    </div>

    <div class="app-control">
      {{ input({
        "id": "date-to",
        "name": "date-to",
        "label": {
          "text": "Date to",
          "classes": "nhsuk-label--s"
        },
        "attributes": {
          "placeholder": "e.g. 31/12/2024"
        },
        "classes": "nhsuk-input--width-10"
      }) }}
    </div>

    <div class="app-control">
      {{ checkboxes({
        "idPrefix": "gender",
        "name": "gender",
        "fieldset": {
          "legend": {
            "text": "Gender",
            "classes": "nhsuk-fieldset__legend--s"
          }
        },
        "items": params.genders
      }) }}
    </div>

    <div class="app-control">
      {{ checkboxes({
        "idPrefix": "year-group",
        "name": "year-group",
        "fieldset": {
          "legend": {
            "text": "Year group",
            "classes": "nhsuk-fieldset__legend--s"
          }
        },
        "items": params.year_groups
      }) }}
    </div>
  {% endcall %}
</form>
{% endmacro %}
